@charset "utf-8";
body{ background:#010101; font-size:12px; font-family:"宋体"; text-align:center;}
.box{ width:1186px; background:#fafaf2; height:auto; margin:auto;}
.left_banner{ width:178px; background:url(../image/leftBannerBg-178x6.jpg) repeat-y; height:1570px; padding-top:30px;}
.logo{ width:146px; height:66px;}
.logo img{ margin-left:10px;}
.version{color:#CCCCCC; margin-top: 30px; text-align:center;}
.bottom_fix{ position:absolute; left:10px; bottom:60px;}/*页面左下角部分*/
.bottom_fix p{ line-height:30px; color:#d0d3da; font-size:14px;}

.right_content{ background:#fafaf2; border-top:1px solid #020100; width:1008px;}
.explain{ text-align:left; margin-top:23px; margin-left:20px; font-size:14px; color:#686860;}
.explain span{margin-right: 5px; font-size:34px; color:#030400; letter-spacing:8px;/*字符间隔*/ font-family:"黑体";}
.login_box{ margin-top:210px; margin-left:358px;}
.login_box table th{ font-size:12px; color:#000; font-weight:100; line-height:50px;}
.login_box .confirmCode {height:26px; line-height:26px;}
.login_btn{ margin-left:20px; margin-top:40px;}
.login_btnClose{ margin-left:70px; margin-top:40px;}
.option_btn{ width:66px; height:25px; background:#3e4c71; color:#edf5ff; line-height:25px; cursor:pointer;}
/*左侧导航*/
.menu_list{ margin-top:68px; margin-left:16px;}
.menu_list li{ text-align:left; width:141px; height:34px; margin-bottom:26px; background:url(../image/menuListBg.jpg) no-repeat;}
.menu{ display:block; width:80px; height:22px; margin-left:36px; color:#f4fbff; font-size:20px; font-family:"黑体"; line-height:22px;}
.menu:hover{ color:#0a94df;}

.content_box{ width:95%; margin:auto;}
.content_top{ font-size:12px; color:#949492; margin-top:12px;}
.grey_underline{ color:#949492; text-decoration:underline;}
.content_top p{ margin-right:10px;}
.city{ margin-left:6px; margin-right:6px; color:#010100; font-weight:bold;}
.content_title img{ margin-left:30px;}
.content_title p{ margin-top:36px; color:#a4a49c;}

.right_table{ width:100%; text-align:center;}
.right_table th{ font-size:12px; color:#f2fdff; line-height:30px; height:30px; background:#3e4c71; font-weight:100;}
.right_table .fillet{ background:url(../image/fillet.jpg) top right no-repeat #3e4c71;}
.right_table td{ height:42px; font-size:12px; line-height:42px; border-bottom:1px solid #ccccc4; color:#030300;}
/*table翻页*/
.page{ margin-top:24px;}
.page_btn{ background:#f9fcf1; color:#9b9e97; width:73px; height:24px; line-height:22px; border:1px solid #e4e5df; text-align:center; cursor:pointer;}
.page span{ color:#a7a6a1;}
.announce{overflow-y:auto; overflow-x:auto; height:1050px; width:903px; min-height:1050px; max-height:1050px; border:1px solid #cecdc8; margin-top:70px; margin-left:20px; background:#ffffff;}
.announce_title{ font-size:28px; font-family:"黑体";; color:#c60307; line-height:100px; text-align:center; margin-top:10px;}
.article_meta{ font-size:14px; color:#000; text-align:right;}
.article_meta .grey{ color:#8f8f8f;}
.title_h3{ font-size:14px; font-weight:bold; text-align:left; margin-top:75px; margin-bottom:45px;}
.announce p{ text-indent:2em; color:#676767; font-size:14px; line-height:24px;}
.article_end{ margin-top:20px;}
.article_end p{ text-align:right; font-size:14px; line-height:22px; color:#323232;}
.option_btn_g{width:66px; height:25px; background:#4a8227; color:#edf5ff; line-height:25px; cursor:pointer;}
/*单位列表编辑*/
.unit_edit{ margin-top:45px;}
.unit_edit table th{ color:#a5a49f; width:100px; text-align:right; line-height:34px; font-weight:100; font-size:12px}
.unit_edit table td{ text-align:left; width:350px;};
.unit_edit table .red{ color:#ed0916;}
.unit_edit table select{border: 1px solid #cecfca;padding-left: 5px;}
.choice_table{ float:right; width:740px;}
/*课程*/
.course_dif{ float:left; width:195px;}
.course_sort{font-size: 12px;color: #f2fdff;line-height: 30px;height: 30px;background: #3e4c71;font-weight: 100; text-align:left; padding-left:10px;}
.course_sort a{font-size: 12px;color: #f2fdff; text-decoration:underline;}
.course_dif dl{ text-align:left; margin-top:15px; font-size:12px; color:#030300;}
.course_dif dl dt{ font-weight:bold; margin-bottom:8px;}
.course_dif dl dd{ line-height:24px; padding-left:5px; cursor:pointer;}
.course_dif dl dd:hover{ background:#f9e8ce;}
.ddchoised{background:#f9e8ce; font-weight:bold;}
.right_table .red{ color:#ed0916;}
.score_title{ text-align:center; font-size:28px; font-weight:100; line-height:56px; margin-top:20px;}
.score_meta{ color:#ed0916;}
#ourC{border: 1px solid #cecfca; width:15px; height:15px;}
/*修改密码*/
.repsw_box{ margin-top:150px; margin-left:358px;}
.repsw_box table th{ font-size:14px; color:#000; font-weight:100; line-height:45px; text-align:right; padding-right:10px;}
.repsw_btn1 {margin-left: 110px;margin-top: 40px;}
.repsw_btn2 {margin-left: 45px;margin-top: 40px;}
.mar-ie7{*margin-top:-50px;}/*课程页兼容ie6,7*/

.layoutLoading {
            display: block;
            position: absolute;
            top: 50%;
            left: 45%;
            width: 20%;
            height: 20%;
            z-index: 1001;
            text-align:center;
}

.uploadImagePopup {
	display:none; 
	width:340px; 
	height:360px;
	border-style: solid; 
	border-color: green;
	border-width: 1px;
	background-color: white; 
	padding: 10px;
}
.uploadImagePopup .picture {
	
}
.uploadImagePopup .url {
	font-size: 14px;
	margin-top: 20px;
}
.uploadImagePopup .note {
	margin-top: 30px;
	font-size: 12px;
	color:gray;
}
.inputReadOnly { 
	background: #EFEFEF; 
}
.text-overflow { 
	display:block;/*内联对象需加*/ 
	word-break:keep-all;/* 不换行 */ 
	white-space:nowrap;/* 不换行 */ 
	overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */ 
	text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/ 
}